<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PrimeVue Frontend Quickstart</title>
    <meta name="description"
        content="Starter template for a PrimeVue site - without Node or a build step">

    <link rel="stylesheet"
        href="https://unpkg.com/primevue@3.4.0/resources/themes/bootstrap4-dark-blue/theme.css" />
    <link rel="stylesheet" href="https://unpkg.com/primevue@3.4.0/resources/primevue.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/primeicons@4.1.0/primeicons.css" />

    <link rel="stylesheet" href="styles.css">

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3.0.7/dist/vue.esm-browser.js",

            "primevue/utils": "https://unpkg.com/primevue@3.4.0/utils/utils.esm.js",
            "primevue/ripple": "https://unpkg.com/primevue@3.4.0/ripple/ripple.esm.js",
            "primevue/button": "https://unpkg.com/primevue@3.4.0/button/button.esm.js",

            "primevue/inputtext": "https://unpkg.com/primevue@3.4.0/inputtext/inputtext.esm.js"
          }
        }
    </script>

    <!-- Import Maps polyfill. -->
    <script src="https://unpkg.com/es-module-shims@0.10.4/dist/es-module-shims.js" defer></script>

    <script type="module" src="main.js" defer></script>
</head>

<body>
    <header>
        <h1>PrimeVue Frontend Quickstart</h1>

        <p><i>Starter template using PrimeVue on a website's frontend - without Node</i></p>

        <a href="https://github.com/MichaelCurrin/primevue-frontend-quickstart">
            <img src="https://img.shields.io/static/v1?label=MichaelCurrin&message=primevue-frontend-quickstart&color=blue&logo=github"
                alt="MichaelCurrin - primevue-frontend-quickstart">
        </a>
    </header>

    <div id="app">
        <h2>Greeting with plain Vue</h2>
        <p>Hello, {{ name }}!</p>

        <h2>PrimeVue Button component</h2>

        <p-button label="Submit"></p-button>

        <br>
        <br>

        <p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>

        <br>
        <br>

        <h2>PrimeVue InputText component</h2>

        <h5>Basic</h5>
        <p-inputtext type="text" v-model="value1"></p-inputtext>
        <br>
        <span>{{ value1 }}</span>

        <br>

        <h5>Left Icon</h5>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <p-inputtext type="text" v-model="value2" placeholder="Search"></p-inputtext>
        </span>
        <br>
        <span>{{ value2 }}</span>
    </div>

    <noscript>Please enable JavaScript or switch to a modern browser version.</noscript>
</body>

</html>
